:root {
    --primary-color: #d3ad7f;
    --black: #13131a;
    --white: #fff;
    --background-color: #010103;
    --border-color: 0.1rem solid rgba(255, 255, 255, 0.2);
    font-size: 10px;
}



* {
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: none;
    transition: 0.2s linear;
    font-family: "Roboto", sans-serif;
}

body {
    background: var(--background-color);
}

section {
    padding: 3rem 2rem;
    margin: 0 auto;
    max-width: 1200px;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    border-bottom: var(--border-color);
    z-index: 99;
    background-color: var(--background-color);

}

.header section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.navbar a {
    margin: 0 1rem;
    font-size: 1.8rem;
    color: var(--white);
    margin-left: 2rem;
}

.navbar a:hover {
    color: var(--primary-color);
    border-bottom: 0.1rem solid var(--primary-color);
    padding-bottom: 0.5rem;
    font-size: 2rem;
}

.icons img {
    margin: 0 1rem;
    cursor: pointer;
}

.icons img:hover {
    width: 40px;
    height: 40px;
}

.btn {
    background: var(--primary-color);
    color: var(--white);
    padding: 1rem 3rem;
    font-size: 1.7rem;
    cursor: pointer;
    margin-top: 1rem;
    display: inline-block;

}

.btn:hover {
    letter-spacing: 0.1rem;
}

.home-container {
    background: url("./img/home-img.jpg");
    height: 100vh;
    background-position: center;
    background-size: cover;
}

.home-container section {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.content {
    max-width: 60rem;
}

.content h3 {
    font-size: 6rem;
    color: var(--white);

}

.content p {
    font-size: 2rem;
    color: var(--white);
    font-weight: 100;
    line-height: 1.8;
    padding: 1rem 0;
}

.title {
    font-size: 4rem;
    color: var(--primary-color);
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 4rem;
}

.title span {
    color: var(--white);
    text-transform: uppercase;
}

.about .row {
    display: flex;
    align-items: center;
    background-color: var(--black);
    gap: 1.5rem;
}

.about .row .content {
    padding: 2rem;
}

.about .row .content h3 {
    font-size: 3rem;
    color: var(--white);
}

.about .row .content p {
    font-size: 1.5rem;
    color: var(--white);
    line-height: 1.8;
    padding: 1rem 0;
}

.box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
}

.menu .box-container .box {
    text-align: center;
    border: var(--border-color);
    padding: 5rem;
    cursor: pointer;
}

.menu .box-container .box:hover {
    background: var(--white);
}

.menu .box-container .box img {
    height: 10rem;
}

.menu .box-container .box h3 {
    font-size: 2rem;
    color: var(--white);
    padding: 1rem 0;
}

.menu .box-container .box .price {
    font-size: 2.5rem;
    color: var(--white);
    padding: 0.5rem 0;
}

.menu .box-container .box .price span {
    font-size: 1.5rem;
    text-decoration: line-through;
    font-weight: lighter;
}

.menu .box-container .box:hover * {
    color: var(--black);
}

.review .box-container .box {
    border: var(--border-color);
    text-align: center;
    padding: 3rem;
}

.review .box-container .box p {
    font-size: 1.5rem;
    color: var(--white);
    padding: 2rem 0;
    line-height: 1.8;
    font-size: lighter;
}

.review .box-container .box h3 {
    font-size: 2rem;
    color: var(--white);
    margin: 1rem 0;
}


.review .box-container .box .user {
    height: 7rem;
    width: 7rem;
    border-radius: 50%;

}

.location {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.footer {
    text-align: center;
}
.footer .share {
    margin: 0 1rem;
    cursor: pointer;
}
.footer .share img{
    margin: 0 1rem;
    cursor: pointer;
    border-radius: 50%;
    padding: 1rem;
}
.footer .share img:hover {
    background: var(--primary-color);
}